<!DOCTYPE html>
<html lang="en">

<head>

	<title>LMS</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="author" content="LMS" />

	<!-- Favicon icon -->
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="/plugins/animation/css/animate.min.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="/css/style.css">




	<!-- data tables css -->
	<link rel="stylesheet" href="/plugins/data-tables/css/datatables.min.css">
	<!-- page css -->
	<link rel="stylesheet" href="/css/pages/pages.css">

</head>

<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<%- include('partials/nav') %>
		<!-- [ navigation menu ] end -->



		<!-- [ Header ] start -->
		<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed">

			<div class="m-header">
				<a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
				<a href="book-list.html" class="b-brand">
					<div class="b-bg">
						E
					</div>
					<span class="b-title">Elite Able</span>
				</a>
			</div>
			<a class="mobile-menu" id="mobile-header" href="#!">
				<i class="feather icon-more-horizontal"></i>
			</a>
			<div class="collapse navbar-collapse">
				<a href="#!" class="mob-toggler"></a>
				<ul class="navbar-nav mr-auto">
					<li>
						<!-- ============================================================================================= -->
						<!-- remove .page-header div if you want breadcumb in bottom of header -->
						<!-- ============================================================================================= -->
						<!-- [ breadcrumb ] start -->
						<div class="page-header">
						</div>
						<!-- [ breadcrumb ] end -->
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li>Welcome <%= username %>
					</li>
					<li>
						<div class="dropdown drp-user">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon feather icon-settings"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right profile-notification">
								<div class="pro-head">
									<img src="/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
									<span>
										<%= username %>
									</span>
									<a href="login.html" class="dud-logout" title="Logout">
										<i class="feather icon-log-out"></i>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</header>
		<!-- [ Header ] end -->


		


		<!-- [ Main Content ] start -->
		<section class="pcoded-main-container">
			<div class="pcoded-wrapper">
				<div class="pcoded-content">
					<div class="pcoded-inner-content">
						<div class="main-body">
							<div class="page-wrapper">
								<!-- [ breadcrumb ] start -->
								<div class="page-header">
									<div class="page-block">
										<div class="row align-items-center">
											<div class="col-md-12">
												<div class="page-header-title">
													<h5 class="m-b-10">Add Student</h5>
												</div>
												<ul class="breadcrumb">
													<li class="breadcrumb-item"><a href="book-list.html"><i
																class="feather icon-home"></i></a></li>
													<li class="breadcrumb-item"><a href="student-list.html">Student
															List</a></li>
													<li class="breadcrumb-item"><a href="#!">Add Student</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- [ breadcrumb ] end -->
								<!-- [ Main Content ] start -->
								<div class="row">
									<!-- [ task-list ] start -->
									<div class="col-sm-12">
										<div class="card">
											<div class="card-header">
												<h5>Add Student</h5>

											</div>
											<div class="card-body task-data">
												<form action="/student-list/add-student" method="POST" enctype="multipart/form-data">
													<div class="form-group row">
														<label for="inputFirstName" class="col-sm-3 col-form-label">First Name</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="inputFirstName" name="first_name" placeholder="First Name">
														</div>
													</div>
													<div class="form-group row">
														<label for="inputMiddleName" class="col-sm-3 col-form-label">Middle Name</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="inputMiddleName" name="middle_name" placeholder="Middle Name">
														</div>
													</div>
													<div class="form-group row">
														<label for="inputLastName" class="col-sm-3 col-form-label">Last Name</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="inputLastName" name="last_name" placeholder="Last Name">
														</div>
													</div>
													<div class="form-group row">
														<label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
														</div>
													</div>
													<div class="form-group row">
														<label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
														<div class="col-sm-6">
															<input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
														</div>
													</div>
													<div class="form-group row">
														<label for="inputRoll" class="col-sm-3 col-form-label">Roll No.</label>
														<div class="col-sm-6">
															<input type="number" class="form-control" id="inputRoll" name="roll_no" placeholder="Roll No">
														</div>
													</div>
													<div class="form-group row">
														<label for="inputPhone" class="col-sm-3 col-form-label">Phone No.</label>
														<div class="col-sm-6">
															<input type="tel" class="form-control" id="inputPhone" name="phone_no" placeholder="Phone No.">
														</div>
													</div>
													<div class="form-group row">
														<label for="inputPic" class="col-sm-3 col-form-label">Student Photo</label>
														<div class="col-sm-6">
															<input type="file" class="form-control" id="inputPic" name="student_photo" placeholder="Student Photo">
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-9 text-right">
															<button type="submit" class="btn btn-primary">Save </button>
															<button type="reset" class="btn btn-danger">Cancel</button>
														</div>
													</div>
												</form>
												

											</div>
										</div>
									</div>
									<!-- [ task-list ] end -->
								</div>
								<!-- [ Main Content ] end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- [ Main Content ] end -->

		<!-- Warning Section start -->
		<!-- Older IE warning message -->
		<!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
		<!-- Warning Section Ends -->

		<!-- Required Js -->
		<script src="/js/vendor-all.min.js"></script>
		<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/js/pcoded.min.js"></script>



		<!-- Data tables.js -->
		<script src="/plugins/data-tables/js/datatables.min.js"></script>

		<script type="text/javascript">
			setTimeout(function () {
				$('#simpletable').DataTable();
			}, 600);
		</script>


</body>

</html>